<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../login-cliente/login-cliente.html">
<link rel="import" href="../listado-cuentas/listado-cuentas.html">
<link rel="import" href="../alta-operacion/alta-operacion.html">
<link rel="import" href="../login-cliente/login-cliente.html">


<dom-module id="main-app">
    <template>
        <style>
            :host {
                --paper-font-common-base: {
                    font-family: Raleway, sans-serif;
                }

                ;
            }

            app-drawer-layout:not([narrow]) [drawer-toggle] {
                display: none;
            }

            .avatar-container {
                position: relative;
                border: 2px solid #00AA8D;
                border-radius: 50%;
                height: 90px;
                padding: 2px;
                width: 90px;
                margin: 20px auto;
            }

            .avatar-container .image {
                background-image: url('//app-layout-assets.appspot.com/assets/pesto/avatar.jpg');
                background-size: contain;
                border-radius: 50%;
                height: 100%;
                width: 100%;
            }

            .contact-info {
                margin: 0 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid #CCC;
                text-align: center;
            }

            .contact-info .name {
                font-weight: bold;
            }

            .contact-info .email {
                color: #999;
            }

            paper-item {
                height: 54px;
            }

            paper-item>a {
                width: 100%;
                height: 100%;
                line-height: 54px;
                text-align: center;
                text-decoration: none;
                color: black;
            }

            paper-icon-button {
                --paper-icon-button-ink-color: white;
            }
        </style>


        <h1> Main App [[prop1]]</h1>


        <login-cliente>

        </login-cliente>

        <listado-cuentas cliente="1">

        </listado-cuentas>

        <alta-operacion> </alta-operacion>


    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class MainApp extends Polymer.Element {
            static get is() { return 'main-app'; }
            static get properties() {
                return {
                    prop1: {
                        type: Number,
                        value: 21
                    }
                }
            };
        }



        window.customElements.define(MainApp.is, MainApp);
    </script>
</dom-module>