<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid-sorter.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">


<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: inline-block;
        padding: 10px;
        width: 80%;
      }

      .details {
        color: grey;
        font-style: italic;
      }

      .circle {
        display: inline-block;
        width: 50px;
        height: 50px;
        text-align: center;
        color: #555;
        border-radius: 50%;
        background: #ddd;
        font-size: 14px;
        line-height: 50px;
      }

      div.circle:hover {
        background: greenyellow;
      }

      .refresh {
        color: green;
        width: 40;
        height: 40px;
      }
    </style>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
      integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <div> [[obtenerClientes()]] </div>
    <h1 class="col-lg-12">Mis Contactos
      <paper-icon-button class="refresh" icon="icons:refresh" on-click="obtenerClientes" title="Actualizar contactos"></paper-icon-button>
    </h1>
    <p>(NorthWind API)</p>

    <div class="container">
      <div class="row">


        <vaadin-grid id="grid" aria-label="Listado clientes" items="{{clientes}}" theme="row-stripes" size="50"
          on-active-item-changed="_onActiveItemChanged" height-by-rows>

          <template class="row-details">
            <div class="details">
              <b>Dirección: </b>
              <p> [[item.Address]], [[item.City]], [[item.Country]] [[item.PostalCode]]</p>
            </div>
          </template>

          <vaadin-grid-column flex-grow="0">
            <template class="header">
              Contacto
            </template>
            <template>
              <div class="circle">
                [[item.CustomerID]]
              </div>
            </template>
          </vaadin-grid-column>

          <vaadin-grid-column width="11em" flex-grow="0">
            <template class="header">
              <vaadin-grid-sorter path="ContactName">Nombre</vaadin-grid-sorter>
            </template>
            <template>[[item.ContactName]]</template>
          </vaadin-grid-column>

          <vaadin-grid-column>
            <template class="header">Teléfono</template>
            <template>[[item.Phone]]</template>
          </vaadin-grid-column>

          <vaadin-grid-column>
            <template class="header">Fax</template>
            <template>[[item.Fax]]</template>
          </vaadin-grid-column>


        </vaadin-grid>

      </div>
    </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }
      obtenerClientes() {
        var request = new XMLHttpRequest();
        // Se cambia para tener los datos desde API NODE
        var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        request.open("GET", url, false);


        // Ya no se necesita el header JSON se omite
        request.setRequestHeader("Accept", "application/json");
        request.send();
        this.clientes = JSON.parse(request.responseText).value;

      }

      _onActiveItemChanged(e) {
        this.$.grid.detailsOpenedItems = [e.detail.value];
      }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>