<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">



<dom-module id="alta-clientes">
    <template>
        <style>
            :host {
                display: inline-block;
                width: 60%;
            }

            .horizontalHeader{
                
                font-weight: bold;
            }

            .iconExitoso{
                fill: green;
                width: 32px;
                height: 32px;
            }

            .idCliente{
                font-weight: bold;
                color: darkcyan;
                font-size: 30px;
            }

        </style>


        <div class="formulario" hidden$='{{flujoExitoso}}'>

            <h1>Registrar nuevo cliente</h1>
            <iron-form id="formAltaClientes" on-iron-form-response="_onResponse" on-iron-form-error="_onError">
                <form is="iron-form" action="[[altaClientesAction]]" method="post" enctype="application/json">
                    <paper-input name="nombre" label="Nombre" required></paper-input>
                    <paper-input name="apellido" label="Apellidos" required></paper-input>
                    <paper-input name="email" label="Email" type="email" required placeholder="juan.perez@dominio.com"></paper-input>
                    <paper-input name="password" label="Password" type="password" required></paper-input>
                    <paper-input name="confirmPassword" label="Confirmar password" type="password" required invalid={{passwordMatch}}
                        error-message=[[mensaje_error_passwords]]></paper-input>


                    <paper-button raised on-click="_submit">Alta cliente</paper-button>
                    <paper-button raised on-click="reset">Reset</paper-button>
                </form>
                <div class="output"></div>
            </iron-form>
        </div>

        <div class="operacionExitosa" hidden$='{{!flujoExitoso}}'>
            <div class="cardExitosa">
                <div>
                    <h1>Operacion exitosa
                    </h1>
                    <iron-icon class="iconExitoso" icon="icons:done"></iron-icon>
                </div>

                <p>Felicidades <b>{{comprobanteOperacion.nombre}}</b>, ya eres cliente de TechUPractitioner App</p>
                <table>
                    <tbody>
                        <tr>
                            <td class="horizontalHeader"> Numero de cliente: <span class="idCliente">{{comprobanteOperacion.idCliente}}</span></td>
                        </tr>

                    </tbody>

                    <tfoot>
                        <tr>
                            <td>
                                <p>Importante: Para ingresar al sitio deberás ingresar el numero de cliente que te fue
                                    asignado y la contraseña digitada al registrarte. </p>
                            </td>
                        </tr>
                    </tfoot>

                </table>
                <p>Se ha enviado un comprobante al correo {{comprobanteOperacion.email}}</p>
                <paper-button raised on-tap="_resetAllAndRoute">
                    <iron-icon icon="icons:arrow-forward"></iron-icon>
                    De acuerdo, deseo autenticarme.
                </paper-button>

            </div>
        </div>

        <app-location route="{{route}}">
        </app-location>


    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class AltaClientes extends Polymer.Element {
            static get is() { return 'alta-clientes'; }
            static get properties() {
                return {

                    mensaje_error_passwords: {
                        type: String,
                        value: "Error. Los passwords no coinciden"
                    },
                    passwordMatch:
                        { type: Boolean, value: false, notify: true },
                    altaClientesAction:
                    {
                        type: String,
                        value: "http://localhost:3001/usuarios"

                    },
                    flujoExitoso: { type: Boolean, value: false },
                    comprobanteOperacion: Object,
                    route: Object,
                    errorMessage: String

                };
            }


            reset() {
                this.$.formAltaClientes.reset();
            }

            _presubmit(e) {
                const body = this.$.formAltaClientes.request.body;
                if (body.password != body.confirmPassword) {
                    console.log(" Los Passwords no matchean");
                    this.passwordMatch = false;
                }
                else {
                    this.passwordMatch = true;
                    delete body.confirmPassword;
                }
                console.log('presubmit body', body);

            }


            _resetForm() {
                this.$.formAltaClientes.reset();
            }

            _submit(e) {
                this.$.formAltaClientes.submit();
            }

            // Evento para manejar la respuesta correcta del servicio
            _onResponse(event) {
                var response = event.detail.response;
                console.log("onResponse: ", event.detail, response);

                this.comprobanteOperacion = response;
                console.log("Salida: ", this.comprobanteOperacion);

                this.flujoExitoso = true;
                this.errorMessage = "";
                this._resetForm();
            }

            // Evento en caso de error.
            _onError(event, detail) {
                console.log(" disparó evento error ", event.detail.error)
                this.errorMessage = event.detail.error;
                console.log(event.detail.request.xhr.response);
                console.log("Error en request: ", event.detail.request);
                console.log(" detail ", detail)
            }

            _resetAllAndRoute() {
                this._resetAll();
                this.set('route.path', '/vista-login');

            }

            _resetAll() {
                this.flujoExitoso = false;
                this.operacion = {};
                this.$.formAltaClientes.reset();
                console.log("resetAll:", this.operacion);
            }

        }



        window.customElements.define(AltaClientes.is, AltaClientes);
    </script>
</dom-module>