<!--

-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">


<dom-module id="datos-cliente">
    <template>
        <style include="shared-styles">
            :host {
                display: block;

                padding: 10px;
            }

            .contenedor-cliente {
                position: relative;
                border: 2px solid darkblue;
                border-radius: 50%;
                height: 110px;
                padding: 2px;
                width: 110px;
                margin: 20px auto;
            }

            .cliente-info .foto {
                background-size: contain;
                border-radius: 50%;
                height: 100%;
                width: 100%;
            }

            .cliente-info {
                margin: 0 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid #CCC;
                text-align: center;
            }

            .cliente-info .nombre {
                font-weight: bold;
            }

            .contact-info .cliente-id {
                color: #999;
            }

            .contact-info .cliente-email {
                color: #999;
                font-style: italic;
            }
        </style>

        <app-header fixed slot="header">
            <div class="contenedor-cliente">
                <div class="foto">
                </div>
            </div>
            <div class="cliente-info">
                <div class="nombre">{{clienteInfo.cliente.nombre}} {{clienteInfo.cliente.apellido}}</div>
                <div class="cliente-id"># Cliente: {{clienteInfo.cliente.idCliente}}</div>
                <div class="cliente-email">{{clienteInfo.cliente.email}}</div>

            </div>
        </app-header>


    </template>

    <script>
        class DatosCliente extends Polymer.Element {
            static get is() { return 'datos-cliente'; }
            static get properties() {
                return {
                    clienteInfo: {
                        type: Object, value: {}, notify: true
                    }
                };
            }
        }

        window.customElements.define(DatosCliente.is, DatosCliente);
    </script>
</dom-module>