<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../listado-cuentas/listado-cuentas.html">

<link rel="import" href="../alta-operacion/alta-operacion.html">
<link rel="import" href="../alta-clientes/alta-clientes.html">

<dom-module id="app-main-view">
    <template>
        <style>
            :host {
                display: inline-block;

            }
        </style>


        <h1> Main App View</h1>
        Esta va a ser la vista principal.
        Vamos a poner el nombre
        Vamos a poner las cuentas
        Vamos a poner la visatas con las altas de las operaciones
        En este punto ya obtuve el usuario y las cuentas con las que tiene. Si no tiene cuentras entonces se habilita
        el boton para dar de alta cuentas.


            <alta-clientes></alta-clientes>

<!-- 
        <alta-operacion></alta-operacion>


        <listado-cuentas cliente="1"></listado-cuentas> -->

    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class AppMainView extends Polymer.Element {
            static get is() { return 'app-main-view'; }
            static get properties() {
                return {
                    prop1: {
                        type: Number,
                        value: 21
                    }
                }
            };
        }



        window.customElements.define(AppMainView.is, AppMainView);
    </script>
</dom-module>