<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-storage/app-localstorage/app-localstorage-document.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="alta-operacion">
    <template>
        <style>
            :host {
                display: inline-block;
            }

            .horizontalHeader{
                font-weight: bold;
            }

            .iconExitoso{
                fill: green;
                width: 32px;
                height: 32px;
            }
        </style>

        <app-localstorage-document key="cliente-global" data="{{clienteGlobal}}">
        </app-localstorage-document>
        <iron-ajax url="[[obtenerUrl(clienteGlobal.cliente.idCliente)]]" auto last-response="{{cuentas}}" headers$='{"Authorization": "{{clienteGlobal.acces_token}}"}'></iron-ajax>


        <div class="formulario" hidden$='{{flujoExitoso}}'>

            <h1>Alta de operación</h1>
            <h2>{{tipoOperacion}}</h2>

            <form id="altaOpForm" action="javascript:void(0);">
                <paper-input type="text" label="Tipo operación" value="{{tipoOperacion}}" disabled required>
                </paper-input>

                <paper-dropdown-menu label="Cuenta cargo" noink no-animations required on-iron-select="_itemSelected">
                    <paper-listbox slot="dropdown-content" class="dropdown-content">
                        <template is="dom-repeat" items="[[cuentas]]">
                            <paper-item role="option" value=[[item._id]]>
                                <paper-item-body two-line>
                                    <div>Cuenta [[item.tipo_cuenta]] - [[item._id]]</div>
                                    <div secondary> [[formatearSaldo(item.saldo)]]</div>
                                </paper-item-body>
                            </paper-item>
                        </template>
                    </paper-listbox>
                </paper-dropdown-menu>


                <paper-input label="Monto" value="{{operacion.importe}}" step="0.01" type="number" required
                    always-float-label>
                    <div slot="prefix">$</div>
                </paper-input>
                <paper-button raised on-click="altaOperacion">Alta operacion</paper-button>
                <input type="hidden" name="idCuenta" id="idCuenta" value="[[idCuenta]]">
            </form>
        </div>


        <div class="operacionExitosa" hidden$='{{!flujoExitoso}}'>
            <div class="cardExitosa">
                <div>
                    <h1>Operación exitosa
                    </h1>
                    <iron-icon class="iconExitoso" icon="icons:done"></iron-icon>
                </div>
                <table>
                    <tbody>
                        <tr>
                            <td class="horizontalHeader"> Cuenta:</td>
                            <td>{{comprobanteOperacion.cuentaId}}</td>
                        </tr>
                        <tr>
                            <td class="horizontalHeader"> Folio de operación:</td>
                            <td>{{comprobanteOperacion.movimiento.id}}</td>
                        </tr>
                        <tr>
                            <td class="horizontalHeader"> Tipo de operación:</td>
                            <td>{{comprobanteOperacion.movimiento.tipo}}</td>
                        </tr>
                        <tr>
                            <td class="horizontalHeader"> Fecha:</td>
                            <td>{{formatearFecha(comprobanteOperacion.movimiento.fecha)}}</td>
                        </tr>
                        <tr>
                            <td class="horizontalHeader"> Monto:</td>
                            <td>{{formatearSaldo(comprobanteOperacion.movimiento.importe)}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                                <paper-button raised on-tap="_resetAllAndRoute">
                                    <iron-icon icon="icons:arrow-forward"></iron-icon>
                                    Continuar
                                </paper-button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <app-location route="{{route}}">
        </app-location>


    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class AltaOperacion extends Polymer.Element {
            static get is() { return 'alta-operacion'; }
            static get properties() {
                return {
                    flujoExitoso: { type: Boolean, value: false },
                    clienteGlobal: Object,
                    idCuenta: {
                        type: Number
                    },
                    operacion: {
                        type: Object,
                        value: { importe: 0.00 }

                    },
                    tipoOperacion: {
                        type: String
                    },
                    comprobanteOperacion:
                    {
                        type: Object, notify: true,
                        value: function () { return {}; }
                    },
                    iniciarFlujo: {
                        type: Boolean
                    },
                    route: {
                        type: String
                    },
                    errorMessage: String,

                }
            };

            obtenerUrl(clienteID) {
                var urlCuentas = "http://localhost:3001/cuentas/" + clienteID;
                console.log(urlCuentas);
                return urlCuentas;
            }

            formatearSaldo(saldo) {

                saldo = (saldo) ? saldo : 0;
                const formatter = new Intl.NumberFormat('es-mx', {
                    style: 'currency',
                    currency: 'MXN',
                    minimumFractionDigits: 2
                });

                return formatter.format(saldo);
            }

            formatearFecha(fecha) {
                return new Date(fecha).toLocaleString();

            }

            _itemSelected(e) {
                var selectedItem = e.target.selectedItem;
                if (selectedItem) {
                    this.idCuenta = selectedItem.value;
                }
            }

            _resetAllAndRoute() {
                this._resetAll();
                this.set('route.path', '/aplicacion-view');

            }

            _resetAll() {
                this.flujoExitoso = false;
                this.operacion = {};
                this.$.altaOpForm.reset();
                console.log("resetAll:", this.operacion.importe);
            }

            altaOperacion() {
                console.log("Ejecutando operacion PUT on movimientos");

                var request = new XMLHttpRequest();
                var url = "http://localhost:3001/movimientos/" + this.idCuenta;
                var json = JSON.stringify(
                    {
                        "$push": {
                            "listado":
                            {
                                "importe": this.operacion.importe,
                                "tipo": this.tipoOperacion,
                            }
                        }
                    }
                );
                request.open("PUT", url, false);
                request.setRequestHeader('Content-type', 'application/json; charset=utf-8');
                // CAbecera con token de seguridad
                request.setRequestHeader("Authorization", this.clienteGlobal.acces_token);

                request.send(json);

                console.log("Response:", request.responseText);
                if (request.readyState == 4 && request.status == "200") {
                    var res = JSON.parse(request.responseText);
                    this.comprobanteOperacion = res;
                    this.flujoExitoso = true;
                    this.$.altaOpForm.reset;

                    console.log("After parse", this.comprobanteOperacion, "Flujo exitososo: ", this.flujoExitoso);
                } else {
                    console.error("NOT READY STATE");
                }
            }
        }

        window.customElements.define(AltaOperacion.is, AltaOperacion);
    </script>
</dom-module>