<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../alta-operacion/alta-operacion.html">


<dom-module id="alta-operaciones-view">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>



    <div class="card">

      <alta-operacion tipo-operacion="[[operacionApp.operacion]]" iniciar-flujo="true"></alta-operacion>

    </div>


  </template>

  <script>
    class AltaOperacionesView extends Polymer.Element {
      static get is() { return 'alta-operaciones-view'; }
      static get properties() {
        return {
          operacionApp: Object,
          cuentas: Object,
          iniciarFlujo: Boolean

        }
      }
    }

    window.customElements.define(AltaOperacionesView.is, AltaOperacionesView);
  </script>
</dom-module>