<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../alta-clientes/alta-clientes.html">

<dom-module id="alta-cliente">
    <template>
        <style include="shared-styles">
            :host {
                display: block;

                padding: 10px;
            }
        </style>



        <div class="card">

            <alta-clientes></alta-clientes>

        </div>


    </template>

    <script>
        class AltaCliente extends Polymer.Element {
            static get is() { return 'alta-cliente'; }
            static get properties() {
                return {
                    operacionApp: Object,
                    cuentas: Object,
                    iniciarFlujo: Boolean

                }
            }
        }

        window.customElements.define(AltaCliente.is, AltaCliente);
    </script>
</dom-module>