<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="aplicacion-view">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
        width: 90%
      }

      .content {
        display: block;
        position: relative;
        max-width: 1000px;
        margin: 5px auto;
      }

      .card-container {
        display: inline-block;
        width: 45%;
        color: black;
        text-decoration: none;
      }


      paper-card {
        display: block;
        margin: 5px;
        --paper-card-header-color: whitesmoke;

        --paper-card-header-image: {
          height: 100px;

        }
      }

      paper-card h2 {
        margin: 4px;
        font-weight: normal;
      }

      paper-card p {
        margin: 4px;
        color: #999;
      }

      paper-card header {
        --paper-card-header-color: {
          color: whitesmoke;
        }

      }
    </style>


    <template is="dom-repeat" items="[[operacionesapp]]">
      <a href="[[item.app_path]]/[[item._id]]" class="card-container">
        <paper-card image=[[item.imgUrl]] alt="[[item.operacion]]" heading="[[item.operacion]]" animated=true>
          <div class="card-content">
            <p> <span>[[item.descripcion]] </span></p>
          </div>
        </paper-card>
      </a>
    </template>
    </div>


  </template>

  <script>
    class AplicacionView extends Polymer.Element {
      static get is() { return 'aplicacion-view'; }

      static get properties() {
        return {
          operacionesapp: {
            type: Object
          }
        };
      }
    }

    window.customElements.define(AplicacionView.is, AplicacionView);
  </script>
</dom-module>