<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="home-view">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
        height: 1000px;
      }

      img {
        object-fit: contain;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    </style>

    <div>
      <img class="portata" src="../../images/app/P099-TechUPract_base_960x600.png"
        alt="Portada Practitioner">
    </div>

  </template>

  <script>
    class HomeView extends Polymer.Element {
      static get is() { return 'home-view'; }
    }

    window.customElements.define(HomeView.is, HomeView);
  </script>
</dom-module>