<!--
 Pagina principal de la aplicación. 
 Fidel Villalobos Martinez 
 2018-11-16
-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/app-storage/app-localstorage/app-localstorage-document.html">
<link rel="import" href="../logout-cliente/logout-cliente.html">
<link rel="import" href="../datos-cliente/datos-cliente.html">

<link rel="lazy-import" href="../navegacion/vista-login.html">
<link rel="lazy-import" href="../navegacion/vista-logout.html">
<link rel="lazy-import" href="../navegacion/home-view.html">
<link rel="lazy-import" href="../navegacion/aplicacion-view.html">
<link rel="lazy-import" href="../navegacion/not-found.html">
<link rel="lazy-import" href="../navegacion/ver-movimientos-view.html">
<link rel="lazy-import" href="../navegacion/alta-operaciones-view.html">
<link rel="lazy-import" href="../navegacion/vista-alta-cuenta.html">
<link rel="lazy-import" href="../navegacion/alta-cliente.html">
<link rel="lazy-import" href="../navegacion/vista-gestor-clientes.html">


<dom-module id="my-app">
  <template>
    <style>
      :host {
        --app-primary-color: #072146;
        --app-secondary-color: black;

        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }

      paper-button.loginButton {
        background-color: var(--paper-green-500);
        color: white;
      }

      .drawermenu {
        height: 100%;
        overflow: auto;
        overflow-x: hidden;
      }

      ::-webkit-scrollbar {
        width: 5px;
      }
    </style>

    <app-localstorage-document key="cliente-global" data="{{clienteGlobal}}">
    </app-localstorage-document>


    <!-- Operaciones soportadas por la aplicacion -->
    <iron-ajax url="http://localhost:3001/operaciones" auto last-response="{{operacionesApp}}"></iron-ajax>


    <app-location route="{{route}}" url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route route="{{route}}" pattern="[[rootPath]]:page" data="{{routeData}}" tail="{{subroute}}"></app-route>
    <app-route route="{{subroute}}" pattern="/:id" data="{{_idData}}"></app-route>


    <app-drawer-layout fullbleed narrow="{{narrow}}" force-narrow="{{!clienteGlobal.sesionado}}">

      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]" hidden$="{{!clienteGlobal.sesionado}}">

        <div class="drawermenu">

          <datos-cliente cliente-info="{{clienteGlobal}}"></datos-cliente>
          <app-toolbar>
            <paper-icon-button icon="menu" drawer-toggle>Menu</paper-icon-button>
          </app-toolbar>

          <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
            <a name="aplicacion-view" href="[[rootPath]]aplicacion-view">Inicio</a>
            <!-- Agregar dinamicamente los links para las operaciones con movimientos-->
            <template is="dom-repeat" items="[[operacionesApp]]">
              <a name="[[item.app_path]]" href="[[rootPath]][[item.app_path]]/[[item._id]]">[[item.operacion]]</a>
            </template>

            <logout-cliente></logout-cliente>
          </iron-selector>
        </div>
      </app-drawer>

      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
            <div main-title>TechU Practitioner APP</div>


            <!-- Si el cliente no esta sesionado mostrar el boton de login-->
            <div hidden$="{{clienteGlobal.sesionado}}">
              <a name="vista-login" href="[[rootPath]]vista-login">
                <paper-button class="loginButton" raised>Login</paper-button>
              </a>
            </div>
            <!-- Si el cliente si esta sesionado mostrar el boton de logout-->
            <div hidden$="{{!clienteGlobal.sesionado}}">
              <logout-cliente></logout-cliente>
            </div>

          </app-toolbar>


        </app-header>

        <iron-pages selected="[[page]]" attr-for-selected="name" fallback-selection="not-found" role="main">

          <alta-cliente name="alta-cliente"></alta-cliente>
          <vista-login name="vista-login"></vista-login>
          <home-view name="home-view"></home-view>
          <aplicacion-view name="aplicacion-view" operacionesapp="[[operacionesApp]]"></aplicacion-view>
          <not-found name="not-found"></not-found>

          <div name="alta-operaciones-view">
            <template is="dom-if" if="{{_isEqual('alta-operaciones-view',page)}}" restamp>
              <alta-operaciones-view operacion-app="[[_getOperacion(operacionesApp, _idData.id)]]">
              </alta-operaciones-view>
            </template>
          </div>

          <vista-alta-cuenta name="vista-alta-cuenta"> </vista-alta-cuenta>
          <vista-logout name="vista-logout"></vista-logout>

          <div name="ver-movimientos-view">
            <template is="dom-if" if="{{_isEqual('ver-movimientos-view',page)}}" restamp>
              <ver-movimientos-view> </ver-movimientos-view>
            </template>
          </div>

          <vista-gestor-clientes name="vista-gestor-clientes"> </vista-gestor-clientes>

        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: Object,
          operacionesApp: Object,
          _idData: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
          clienteGlobal: { type: Object, value: { "cliente": {}, sesionado: false } }
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _isEqual(val1, val2) {
        return val1 == val2;
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'home-view';

        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        const resolvedPageUrl = this.resolveUrl(page + '.html');
        Polymer.importHref(
          resolvedPageUrl,
          null,
          this._showPage404.bind(this),
          true);
      }

      _showPage404() {
        this.page = 'not-found';
      }


      _getOperacion() {
        if (this.operacionesApp && this._idData && this._idData.id) {
          for (var i = 0; i < this.operacionesApp.length; ++i) {
            var r = this.operacionesApp[i];
            if (r._id == this._idData.id) {
              return r;
            }
          }
        }
        return null;
      }

    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>