<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<link rel="import" href="../listado-cuentas/listado-cuentas.html">
<link rel="import" href="../../bower_components/app-storage/app-localstorage/app-localstorage-document.html">



<dom-module id="ver-movimientos-view">
  <template>


    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <app-localstorage-document key="cliente-global" data="{{clienteGlobal}}">
    </app-localstorage-document>

    <listado-cuentas cliente={{clienteGlobal.cliente.idCliente}} cliente-global={{clienteGlobal}}> </listado-cuentas>


  </template>

  <script>
    class VerMovimientosView extends Polymer.Element {
      static get is() { return 'ver-movimientos-view'; }

      static get properties() {
        return {
          clienteGlobal: {
            type: Object
          },
        };
      }
    }



    window.customElements.define(VerMovimientosView.is, VerMovimientosView);
  </script>
</dom-module>