<!--

-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../gestor-clientes/gestor-clientes.html">


<dom-module id="vista-gestor-clientes">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">

      <gestor-clientes></gestor-clientes>

    </div>


  </template>

  <script>
    class VistaGestorClientes extends Polymer.Element {
      static get is() { return 'vista-gestor-clientes'; }
    }

    window.customElements.define(VistaGestorClientes.is, VistaGestorClientes);
  </script>
</dom-module>