<!--

-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../alta-cuentas/alta-cuentas.html">


<dom-module id="vista-alta-cuenta">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <alta-cuentas></alta-cuentas>

    </div>


  </template>

  <script>
    class VistaAltaCuenta extends Polymer.Element {
      static get is() { return 'vista-alta-cuenta'; }
      static get properties() {
        return {
          idCliente: {
            type: String,
            reflectToAttribute: true
          }
        }
      }
    }
    window.customElements.define(VistaAltaCuenta.is, VistaAltaCuenta);
  </script>
</dom-module>