<!--

-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../login-cliente/login-cliente.html">


<dom-module id="vista-login">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">

      <login-cliente></login-cliente>

    </div>


  </template>

  <script>
    class VistaLogin extends Polymer.Element {
      static get is() { return 'vista-login'; }
    }

    window.customElements.define(VistaLogin.is, VistaLogin);
  </script>
</dom-module>