<!--

-->

<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">


<dom-module id="vista-logout">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">

      Vuelve pronto.

      <a href="/vista-login" target="_self">Iniciar sesión.</a> 

    </div>


  </template>

  <script>
    class VistaLogout extends Polymer.Element {
      static get is() { return 'vista-logout'; }
    }

    window.customElements.define(VistaLogout.is, VistaLogout);
  </script>
</dom-module>