<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/app-storage/app-localstorage/app-localstorage-document.html">




<dom-module id="logout-cliente">
    <template>
        <style>
            :host {
                display: block;
                width: 50%;
            }

            paper-button.logoutButton {
                background-color: var(--paper-red-500);
                color: white;
            }
        </style>

        <app-localstorage-document key="cliente-global" data="{{clienteGlobal}}">
        </app-localstorage-document>

        <a name="vista-logout" href="vista-logout">
            <paper-button class="logoutButton" on-tap="_logout">Logout</paper-button>
        </a>

    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class LogoutCliente extends Polymer.Element {
            static get is() { return 'logout-cliente'; }
            static get properties() {
                return {
                    clienteGlobal: Object,
                };
            }

            // Evento para manejar la respuesta correcta del servicio
            _logout(event) {

                // Como la respuesta fue exitosa, entonces, genero el evento para guardarlo en la localStorage de la aplicacion
                this.clienteGlobal = {};


            }


        }

        window.customElements.define(LogoutCliente.is, LogoutCliente);
    </script>
</dom-module>