<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-storage/app-localstorage/app-localstorage-document.html">


<dom-module id="login-cliente">
    <template>
        <style>
            :host {
                display: block;
                width: 65%;
            }
            .login-form{
                padding: 10px 10px;
            }
            .nombreCliente{
                color: brown;
                text-decoration : darkblue bold;
            }
            .login-error{
                background: #ffcdd2;
                border: 1px solid #f44336;
                border-radius: 3px;
                color: #333;
                font-size: 14px;
                padding: 10px;
            }
        </style>


        <app-localstorage-document key="cliente-global" data="{{clienteGlobal}}">
        </app-localstorage-document>

        <template is="dom-if" if='{{clienteGlobal.sesionado}}'>
            [[_sessionRoute()]]
        </template>

        <template is="dom-if" if='{{!clienteEncontrado}}'>
            <h1> Iniciar sesión </h1>
        </template>


        <template is="dom-if" if='{{clienteEncontrado}}'>

            <h1> Hola, <span class="nombreCliente">[[cliente.nombre]]</span></h1>
        </template>

        <iron-form id="loginform" class="login-form" on-iron-form-response="_onResponse" on-iron-form-error="_onError">
            <form action="[[loginClienteAction]]" method="post" enctype="application/json">
                <paper-input label="ID de cliente" name="idCliente" value="{{idCliente}}" on-blur="buscarCliente"
                    required hidden=[[clienteEncontrado]]>
                </paper-input>

                
                <paper-input type="password" label="Password" name="password">
                    <iron-icon icon="lock" slot="prefix"></iron-icon>
                </paper-input>

                <paper-button raised on-click="_submit">Login</paper-button>

            </form>

            <template is="dom-if" if='[[errorMessage]]'>
                <div class="login-error"><strong>Error: </strong>[[errorMessage]] </div>
            </template>

            <template is="dom-if" if='{{clienteEncontrado}}'>
                <a href="/vista-login" on-click='resetCliente'> Login con otra cuenta </a>
            </template>

            <template is="dom-if" if='{{!clienteEncontrado}}'>
                <a href="/alta-cliente"> Registrar nuevo cliente </a>
            </template>

        </iron-form>

        <app-location route="{{route}}"></app-location>


    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class LoginCliente extends Polymer.Element {
            static get is() { return 'login-cliente'; }
            static get properties() {
                return {
                    idCliente: String,

                    cliente: {
                        type: Object
                    },
                    clienteEncontrado: {
                        type: Boolean, value: false
                    },
                    loginClienteAction: {
                        type: String,
                        value: "http://localhost:3001/sessions"
                    },
                    route: {
                        type: String
                    },
                    errorMessage: String,
                    clienteGlobal: Object
                };
            }


            buscarCliente() {
                console.log("Se buscara el cliente con ID : " + this.idCliente);

                var request = new XMLHttpRequest();

                var url = "http://localhost:3001/get_usuarios_nombre/" + this.idCliente;
                request.open("GET", url, false);

                // Ya no se necesita el header JSON se omite
                //request.setRequestHeader("Accept","application/json");
                request.send();

                console.log(request);
                //  this.clientes = JSON.parse(request.responseText).value;
                if (request.responseText != "" && request.status == 200) {
                    this.cliente = JSON.parse(request.responseText);
                    this.clienteEncontrado = true;
                    this.errorMessage = "";
                }
                else {
                    this.clienteEncontrado = false;
                    this.cliente = {};
                    this.errorMessage = "El cliente no existe";
                }

                console.log(this.cliente);


            }

            resetCliente() {
                this.clienteEncontrado = false;
                this.cliente = {};
                this.idCliente = '';
                this.$.loginform.reset();
                this.errorMessage = '';
            }

            _submit(e) {
                this.$.loginform.submit();
            }

            // Evento para manejar la respuesta correcta del servicio
            _onResponse(event) {
                var response = event.detail.response;
                console.log(event.detail, response);

                this.errorMessage = "";
                this.$.loginform.reset();

                // Como la respuesta fue exitosa, entonces, genero el evento para guardarlo en la localStorage de la aplicacion
                this.clienteGlobal = {
                    cliente: response.user, acces_token: response.token, sesionado: true
                }
                console.log("A persistir: ", this.clienteGlobal);

                this._sessionRoute();
            }

            // Evento en caso de error.
            _onError(event, detail) {
                console.log(" disparó evento error ", event.detail.error)
                this.errorMessage = event.detail.error;

                if (event.detail.request.status == 401) {
                    this.errorMessage = "Contraseña invalida.";
                }

                if (event.detail.request.status == 404) {
                    this.errorMessage = "El cliente no existe";
                }
                console.log(event.detail.request.xhr.response);

                console.log("Error en request: ", event.detail.request);
                console.log(" detail ", detail);


            }

            _sessionRoute() {
                if (this.clienteGlobal.acces_token) {
                    this.set('route.path', '/aplicacion-view');

                    this.cliente = {};
                    this.clienteEncontrado = false;
                }
            }
        }

        window.customElements.define(LoginCliente.is, LoginCliente);
    </script>
</dom-module>