<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/app-storage/app-localstorage/app-localstorage-document.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">



<dom-module id="alta-cuentas">
    <template>
        <style>
            :host {
                display: inline-block;
                width: 60%;
            }

            .horizontalHeader {
                font-weight: bold;
            }

            .iconExitoso {
                fill: green;
                width: 32px;
                height: 32px;
            }

        </style>

        <app-localstorage-document key="cliente-global" data="{{clienteGlobal}}">
        </app-localstorage-document>

        <div class="formulario" hidden$='{{flujoExitoso}}'>

            <h1>Alta de cuenta</h1>

            <iron-form id="altaCtaForm" on-iron-form-response="_onResponse" on-iron-form-error="_onError"
                on-iron-form-presubmit="_onPresubmit">
                <form action=" [[urlAltaCuentas]]" method="post" enctype="application/json">

                    <input type="hidden" name="id_cliente" id="id_cliente" value="[[clienteGlobal.cliente.idCliente]]">

                    <paper-dropdown-menu label="Tipo de cuenta: " name="tipo_cuenta" noink no-animations required>
                        <paper-listbox class="dropdown-content" slot="dropdown-content">
                            <paper-item role="option" value="Debito">Débito</paper-item>
                            <paper-item role="option" value="Credito">Crédito</paper-item>
                            <paper-item role="option" value="Cheques">Cheques</paper-item>
                        </paper-listbox>
                    </paper-dropdown-menu>

                    <p> Confirmar para dar de alta la cuenta: </p>
                    <paper-button raised on-click="_submit">Acepto</paper-button>
                </form>

                <template is="dom-if" if='[[errorMessage]]'>
                    <div class="login-error"><strong>Error: </strong>[[errorMessage]] </div>
                </template>
            </iron-form>

        </div>
        <div class="operacionExitosa" hidden$='{{!flujoExitoso}}'>
            <div class="cardExitosa">
                <div>
                    <h1>Operación exitosa
                    </h1>
                    <iron-icon class="iconExitoso" icon="icons:done"></iron-icon>
                </div>
                <table>
                    <tbody>
                        <tr>
                            <td class="horizontalHeader"> Tipo de Cuenta:</td>
                            <td>{{comprobanteOperacion.tipo_cuenta}}</td>
                        </tr>
                        <tr>
                            <td class="horizontalHeader">Número de cuenta:</td>
                            <td>{{comprobanteOperacion._id}}</td>
                        </tr>

                        <tr>
                            <td class="horizontalHeader"> Fecha:</td>
                            <td>{{formatearFecha(comprobanteOperacion.fechaAlta)}}</td>
                        </tr>

                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                                <paper-button raised on-tap="_resetAllAndRoute">
                                    <iron-icon icon="icons:arrow-forward"></iron-icon>
                                    Continuar
                                </paper-button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <app-location route="{{route}}">
        </app-location>


    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class AltaCuentas extends Polymer.Element {
            static get is() { return 'alta-cuentas'; }
            static get properties() {
                return {
                    clienteGlobal:
                        { type: Object, value: {}, notify: true },
                    flujoExitoso: { type: Boolean, value: false },
                    comprobanteOperacion: Object,
                    urlAltaCuentas: {
                        type: String,
                        value: "http://localhost:3001/cuentas"
                    },
                    errorMessage: String,
                    route: Object

                };
            }

            _resetForm() {
                this.$.altaCtaForm.reset();
            }

            _submit(e) {
                this.$.altaCtaForm.submit();
            }

            _onPresubmit(e) {
                var body = this.$.altaCtaForm.request.body;
                body['id_cliente'] = this.clienteGlobal.cliente.idCliente;
                var request = this.$.altaCtaForm.request;
                // Añadiendo token de seguridad
                var headers = { "Authorization": this.clienteGlobal.acces_token };
                e.target.request.headers = headers;
            }

            // Evento para manejar la respuesta correcta del servicio
            _onResponse(event) {
                var response = event.detail.response;
                console.log("onResponse: ", event.detail, response);

                this.comprobanteOperacion = response;
                console.log("Salida: ", this.comprobanteOperacion);

                this.flujoExitoso = true;
                this.errorMessage = "";
                this._resetForm();
            }

            // Evento en caso de error.
            _onError(event, detail) {
                console.log(" disparó evento error ", event.detail.error)
                this.errorMessage = event.detail.error;
                console.log(event.detail.request.xhr.response);
                console.log("Error en request: ", event.detail.request);
                console.log(" detail ", detail)
            }

            _resetAllAndRoute() {
                this._resetAll();
                this.set('route.path', '/aplicacion-view');
            }

            _resetAll() {
                this.flujoExitoso = false;
                this._resetForm();
            }

            formatearFecha(fecha) {
                return new Date(fecha).toLocaleString();
            }

        }

        window.customElements.define(AltaCuentas.is, AltaCuentas);
    </script>
</dom-module>