<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../movimientos-cuenta/movimientos-cuenta.html">

<dom-module id="listado-cuentas">
    <template>
        <style>
            :host {
                display: block;
                width: 800px;
            }

            .cuentas {
                width: 90%
            }

            paper-button.altacuenta {
                background-color: #1c563a;
                color: white;
            }
        </style>
        

        <div> [[obtenerCuentas(urlCuentas)]]
        </div>

        <template is='dom-if' if='[[clienteSinCuenta]]'>
            No tiene cuentas activas.
            <a href="/vista-alta-cuenta" target="_self">
                <paper-button class="altacuenta">Contratar una cuenta</paper-button>
            </a>
        </template>

        <div class="cuentas">
            <template is="dom-repeat" items="[[listadoCuentas]]">
                <movimientos-cuenta id-cuenta="[[item._id]]" tipo-cuenta="[[item.tipo_cuenta]]" saldo="[[formatearSaldo(item.saldo)]]"
                    listado-movimientos="[[item.listado]]">
                </movimientos-cuenta>
            </template>
        </div>

        <app-location route="{{route}}"> </app-location>
    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class ListadoCuentas extends Polymer.Element {
            static get is() { return 'listado-cuentas'; }
            static get properties() {
                return {
                    clienteGlobal: Object,
                    cliente: {
                        type: String,
                        reflectToAttribute: true
                    },
                    urlCuentas: {
                        type: String,
                        computed: 'obtenerURL(cliente)'
                    },
                    listadoCuentas: {
                        type: Array
                    },
                    cargando: Boolean,
                    route: Object,
                    clienteSinCuenta: Boolean,
                }
            }

            _printData() {
                console.log("changed data ", this.clienteGlobal);
            }

            obtenerURL(cliente) {
                var url = "http://localhost:3001/cuentas/" + cliente;
                console.log("La url es:", url);
                return url;
            }

            obtenerCuentas(urlCuentas) {

                var url = urlCuentas;
                console.log("obtenercuentas trace " + urlCuentas);
                var request = new XMLHttpRequest();


                request.open("GET", url, false);
                request.setRequestHeader("Authorization", this.clienteGlobal.acces_token);


                // Ya no se necesita el header JSON se omite
                //request.setRequestHeader("Accept","application/json");
                request.send();

                console.log(request);
                //  this.clientes = JSON.parse(request.responseText).value;
                if (request.status == 200) {
                    this.listadoCuentas = JSON.parse(request.responseText);
                    this.cargando = false;
                    this.clienteSinCuenta = (this.listadoCuentas.length <= 0) ? true : false;
                }
                // No esta autorizado no hay sesion
                else if (request.status == 401) {
                    localStorage.setItem("cliente-global", null);
                    this.set('route.path', '/vista-logout');

                }
                else {
                    this.listadoCuentas = function () { return []; };
                }


                console.log(this.listadoCuentas);

            }


            formatearSaldo(saldo) {

                const formatter = new Intl.NumberFormat('es-mx', {
                    style: 'currency',
                    currency: 'MXN',
                    minimumFractionDigits: 2
                });

                return formatter.format(saldo);

            }

        }
        window.customElements.define(ListadoCuentas.is, ListadoCuentas);
    </script>
</dom-module>