<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid-sorter.html">


<dom-module id="movimientos-cuenta">
    <template>
        <style>
            :host {
                display: inline-block;
                width: 100%;
            }

            .cardCuenta {
                margin: 24px;
                padding: 16px;
                color: white;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                background-color: darkblue;
                margin-bottom: 0;
            }

            .cardMovimientos {
                margin: 0px;
                padding: 16px;
                padding-top: 0;
            }


            .verMovimientos {
                font-size: 12px;
            }

            span.verMovimientos:hover {
                text-decoration: underline;
            }

            .expandButton {
                position: relative;
                top: 8px;
                right: 16px;
                font-size: 18px;
            }

            paper-card {
                width: 100%;
                margin: 15px;
                padding: 5px;

                --paper-card-header: {
                    background-color: "#000000";
                }
            }

            .cafe-header {
                @apply --paper-font-headline;
            }

            .cafe-light {
                color: var(--paper-grey-600);
            }

            .cafe-location {
                float: right;
                font-size: 15px;
                vertical-align: middle;
            }
        </style>



        <paper-card heading="Cuenta: [[idCuenta]]">

            <div class="cafe-header">
                <div class="cafe-location cafe-light">
                    <span>Tipo: <b>[[tipoCuenta]]</b></span>
                    <span>Saldo: <b>[[saldo]]</b></span>
                </div>
            </div>

            <div class="card-actions">
                <template is="dom-if" if="{{!_tieneMovimientos(listadoMovimientos)}}">
                    <div> <i>No hay movimientos.</i></div>
                </template>

                <template is="dom-if" if="{{_tieneMovimientos(listadoMovimientos)}}">
                    <paper-icon-button icon="[[expandIcon]]" on-click="toggle" title="[[expandIconTitle]]"></paper-icon-button>

                    <iron-collapse opened=[[desplegado]]>
                            <div class="cardMovimientos">

                            <vaadin-grid aria-label="Movimientos cuenta[[idCuenta]]" items="[[listadoMovimientos]]"
                                theme="row-stripes">

                                <vaadin-grid-column width="11em" flex-grow="0">
                                    <template class="header">
                                        <vaadin-grid-sorter path="fecha">Fecha</vaadin-grid-sorter>
                                    </template>
                                    <template>[[formatearFecha(item.fecha)]]</template>
                                </vaadin-grid-column>

                                <vaadin-grid-column width="16em">
                                    <template class="header">Operación</template>
                                    <template>[[item.tipo]]</template>
                                </vaadin-grid-column>

                                <vaadin-grid-column>
                                    <template class="header">Folio</template>
                                    <template>[[item.id]]</template>
                                </vaadin-grid-column>

                                <vaadin-grid-column>
                                    <template class="header">Cantidad</template>
                                    <template>[[formatearSaldo(item.importe)]]</template>
                                </vaadin-grid-column>
                            </vaadin-grid>
                        </div>
                    </iron-collapse>
                </template>
            </div>
        </paper-card>


    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class MovimientosCuenta extends Polymer.Element {
            static get is() { return 'movimientos-cuenta'; }
            static get properties() {
                return {
                    idCuenta: {
                        type: String,
                        reflectToAttribute: true

                    },
                    tipoCuenta: {
                        type: String,
                        reflectToAttribute: true

                    },
                    listadoMovimientos: {
                        type: Array,
                        value: function () { return []; }
                    },
                    desplegado: {
                        type: Boolean,
                        value: false,
                        observer: '_cambiarIconoExpand'
                    },
                    saldo: {
                        type: String,
                        reflectToAttribute: true

                    },
                    expandIcon: {
                        type: String,
                        value: 'icons:unfold-more'
                    },
                    expandIconTitle: {
                        type: String,
                        value: 'Mostrar movimientos'
                    }
                }
            }

            toggle() {
                this.desplegado = !this.desplegado;
            }

            formatearSaldo(saldo) {

                const formatter = new Intl.NumberFormat('es-mx', {
                    style: 'currency',
                    currency: 'MXN',
                    minimumFractionDigits: 2
                });

                return formatter.format(saldo);

            }


            formatearFecha(fecha) {
                return new Date(fecha).toLocaleString();
            }

            _cambiarIconoExpand(newValue, oldValue) {
                this.expandIcon = newValue ? 'icons:unfold-less' : 'icons:unfold-more';
                this.expandIconTitle = newValue ? 'No mostrar movimientos' : 'Mostrar movimientos';
            }

            _tieneMovimientos(listadoMovimientos) {
                return listadoMovimientos.length > 0 ? true : false;
            }

        }



        window.customElements.define(MovimientosCuenta.is, MovimientosCuenta);
    </script>
</dom-module>